.nossa_historia{
    color: rgba(55, 139, 55, 0.433);
    text-align: justify;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.texto-nossa-historia{
    margin: 10px;
    font-size: 40px;
}
.titulo-nossa-historia{
    text-align: center;
    color:var();
    margin: 50px;
    font-size: 60px;
    /* background-color: aqua; */
}
.nossa_historia i {
font-size: 3.5rem;
position: absolute;
left: 50px;
top: 50px;
}