.nossa_historia{
    color: magenta;
    text-align: justify;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.texto-nossa-historia{
    margin: 10px;
    font-size: 40px;
}
.titulo-nossa-historia{
    text-align: center;
    color: red;
    margin: 50px;
}
.nossa_historia i {
font-size: 3.5rem;
}