*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F7F7F7;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/* CARD */

.esqueci_senha-card_email{
    position: relative;
    left: 20%;
    top: -15px;
    width: 800px;
    height: 400px;
    background-color: #DFEBE0;
    padding: 110px;
    border-radius: 2px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

/* CONTEÚDO DO CARD */

.esqueci_senha-card_email-content h1{
    position: relative;
    top: -90px;
    left: 190px;
    color: #20261E;
    font-size: 1.4rem;
}

.esqueci_senha-card_email-content h3{
    position: relative;
    top: -60px;
    left: 15px;
    color: #40513B;
    font-size: 1rem;
}

.esqueci_senha-card_email-formulario input{
    width: 590px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 10px 15px;
}

.esqueci_senha-card_email-formulario input::placeholder{
    text-indent: 1px;
}

.esqueci_senha-card_email-linha_divisao{
    width: 585px;
    height: 0.5px;
    position: relative;
    left: 2px;
    transform: translateY(20px);
    background-color: #40513B;
}

.esqueci_senha-card_email-formulario button{
    position: relative;
    top: 70px;
    left: 225px;
    width: 125px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 2px;
    border: none;
    color: #40513B;
}

.esqueci_senha-card_email-formulario button:hover{
    background-color: #557153;
    color: #ffffff;
}

/* ICON (SETA PARA VOLTAR) */

.esqueci_senha-card_email-seta_voltar{
    width: 2%;
    position: relative;
    left: 12%;
    transform: translateY(20px);
}

.esqueci_senha-card_email-enchaminhar i{
    font-size: 2rem;
    color: #2D8C37;
}