@import url(\cliente.css);
.footer_cliente{
    width: 100%;
    height: 300px;
    background-color: var(--color-primary-1);
    font-family: "Poppins", serif;
}
.grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 265px;
    position: relative;
    grid-template-columns: 220px 200px 260px 220px;
    column-gap: 50px;
    padding-top: 48px ; 
}
.footer_cli_item a {
    text-decoration: none;
    color: inherit;
    color: var(--color-detalhes-16);
}
.footer_cli_item p {
    color: var(--color-detalhes-16);
    font-size: 14px;
    margin: 1px;
}
.footer_cli_item address{
    font-size: 14px;
    line-height:10px;
}
.footer_cli_item h3{
    color: var(--color-detalhes-16);
    font-size: 14px;
    margin: 8px 12px;
    width: 150px;
}
.footer_cli_item hr{
    display: block;
    margin: 8px;
}
/* .poppins-regular {
    font-weight: 400;
    font-style: normal;
} */
.footer_cli_item{
    padding-left: 20px;
    padding-right: 30px;
    text-align: left;
}
#tab1{
    align-self: flex-start;
    height: 210px;
    grid-area: 1/ 1/ 3/ 2;
    justify-content: center;
    align-items: center;
}
#tab1 address{
    display: block;
    margin: 15px 12px;
    text-align: justify;
    width: 180px;
    font-size: 14px;
}
#tab2{
    align-self: flex-start;
    height: 100px; 
    display: block;
}
#tab2 a{
    font-size: 24px;
    margin: 0px 12px;
}
#tab3{
    align-self: flex-start;
    height: 100px;
}
#tab3 a{
    font-size: 14px;
    display: block;
    width: 220px;
    margin: 5px 12px;
}
#tab4{
    align-self: flex-start;
    height: 90px;
}
#tab4 a{
    font-size: 14px;
    display: block;
    margin: 0px 12px;
}
#tab5{
    align-self: flex-start;
    height: 90px;
}
#tab5 p{
    font-size: 14px;
    display: block;
    width: 220px;
    margin: 0px 12px;
}
#tab6{
    align-self: flex-start;
    height: 210px;
    grid-area: 1/ 4/ 3/ 5;
}
#tab6 a{
    font-size: 14px;
    display: block;
    margin: 0px 12px;
    line-height: 28px;
    width: 220px;
}