@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{ 
    --color-primary-1: #40513B;
    --color-primary-2: #557153;
    --color-primary-3: #4B914B;
    --color-primary-4: #798645;
    --color-primary-5: #609966;
    --color-primary-6: #729762;
    --color-primary-7: #EDF1D6;
    --color-primary-8: #E7F0DC;

    --color-detalhes-9: #2278F4;
    --color-botao-op-Cancelar: #DB2828; /*Op = Operação*/
    --color-botao-op-Pendente: #DBA928; /*Op = Operação*/
    --color-botao-op-Concluido: #2D8C37; /*Op = Operação*/
    --color-fonte: #20261E;
    --color-icones: #EDF3EB;
    --color-detalhes-15: #F7F9FF;
    --color-detalhes-16: #E7F0DC;
}
.footer_cliente{
    width: 100%;
    height: 300px;
    background-color: var(--color-primary-1);
    font-family: "Poppins", serif;
}
.grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 265px;
    position: relative;
    grid-template-columns: 220px 200px 260px 220px;
    column-gap: 60px;
    padding-top: 48px ; 
}
.footer_cli_item a {
    text-decoration: none;
    color: inherit;
    color: var(--color-detalhes-16);
}
.footer_cli_item a:hover{
    text-decoration: underline;
}
#tab5 p {
    color: var(--color-detalhes-16);
    font-size: 14px;
    margin: 1px;
}
.footer_cli_item address{
    font-size: 14px;
    line-height:10px;
}
.footer_cli_item h3{
    color: var(--color-detalhes-16);
    font-size: 14px;
    margin: 8px 12px;
    width: 150px;
}
.footer_cli_item hr{
    display: block;
    margin: 8px;
}
.poppins-regular {
    font-weight: 400;
    font-style: normal;
}
.footer_cli_item{
    padding-left: 20px;
    padding-right: 30px;
    text-align: left;
}
#tab1{
    align-self: flex-start;
    height: 210px;
    grid-area: 1/ 1/ 3/ 2;
    justify-content: center;
    align-items: center;
}
#tab1 address{
    display: block;
    margin: 15px 12px;
    text-align: justify;
    width: 180px;
    font-size: 14px;
}
#tab2{
    align-self: flex-start;
    height: 100px; 
    display: block;
}
#tab2 a{
    font-size: 24px;
    margin: 0px 12px;
}
#tab3{
    align-self: flex-start;
    height: 100px;
}
#tab3 a{
    font-size: 14px;
    display: block;
    width: 220px;
    margin: 5px 12px;
}
#tab4{
    align-self: flex-start;
    height: 90px;
}
#tab4 a{
    font-size: 14px;
    display: block;
    margin: 0px 12px;
}
#tab5{
    align-self: flex-start;
    height: 90px;
}
#tab5 p{
    font-size: 14px;
    display: block;
    width: 220px;
    margin: 0px 12px;
}
#tab6{
    align-self: flex-start;
    height: 210px;
    grid-area: 1/ 4/ 3/ 5;
}
#tab6 a{
    font-size: 14px;
    display: block;
    margin: 0px 12px;
    line-height: 28px;
    width: 220px;
}