.footer_cliente{
    width: 1440px;
    height: 265px;
}
.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 220px 200px 260px 220px;
    background-color: #40513B;
    column-gap: 40px;
    padding-left: 166px;
    padding-right: 166px;
    padding-top: 48px ;
    padding-bottom: 47px;
}
a {
    text-decoration: none;
    color: inherit;
    color: #E7F0DC;
}
p {
    color: #E7F0DC;
    font-family: "Poppins", serif;
    font-size: 14px;
}
h3{
    color: #E7F0DC;
    font-family: "Poppins", serif;
}
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
.footer_cli_item{
    border: 1px;
    border-color: #121810;
    border-style: solid;
    padding-left: 20px;
    padding-right: 30px;
    text-align: left;
}
#tab1{
    /* height: 170px; */
    /* width: 220px; */
    grid-area: 1/ 1/ 3/ 2;
    justify-content: center;
    align-items: center;
}
#tab2{
    /* height: 80px; */
    /* width: 200px; */
    /* column-gap: 10px; */
}
#tab3{
    /* height: 80px; */
    /* width: 260px; */
    /* column-gap: 10px; */
}
#tab4{
    /* height: 80px; */
    /* width: 200px; */
}
#tab5{
    /* height: 80px; */
    /* width: 260px; */
    gap: 20px;
}
#tab6{

    /* height: 170px; */
    /* width: 220px; */
    grid-area: 1/ 4/ 3/ 5;
}