@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color-primary-1: #40513B;
    --color-primary-2: #557153;
    --color-primary-3: #4B914B;
    --color-primary-4: #798645;
    --color-primary-5: #609966;
    --color-primary-6: #729762;
    --color-primary-7: #EDF1D6;
    --color-primary-8: #E7F0DC;
}
.body-cadastro{
    background-color: #F7F7F7;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.area-form-cadastro{
    justify-content: center;
    width: 63.063rem;
    height: auto;
    flex-direction: column;
    margin: 100px 250px;
    align-items: center;
    padding: 60px;
    display: flex;
    background-color: #DFEBE0;
}
.titulo-form-cadastro{
    font-size: 2rem;
    color: var(--color-primary-1);
    font-weight: 600;
}
.form-cadastro{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.area-geral-form-cadastro{
    flex-direction: row; 
}
.parte1-form-cadastro{
    align-items: center;
    padding: 40px;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.parte2-form-cadastro{
    align-items: center;
    padding: 40px;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.input-form-cadastro{
    width: 22.563rem;
    height: 2.938rem;
    padding: 7px;
    border: 1px solid var(--color-primary-1);
    border-radius: 2px;
}
.input-form-cadastro::placeholder{
    color: var(--color-primary-1);
    font-weight: 600;
    font-size: 1rem;
}
.input-form-cadastro[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #FFFFFF;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-primary-1);
}
.line-cadastro{
    width: 100%;
    height: 1px;
    background-color: var(--color-primary-1);
}
.input-submit-form-cadastro{
    margin-top: 10px;
    justify-content: center;
    width: 50%;
    padding: 5px;
    border: 1px solid var(--color-primary-1);
    border-radius: 2px;
    background-color: #FFFFFF;
    color: var(--color-primary-1);
    font-weight: 600;
}
.area-termos-privacidade-cadastro{
    margin-top: 30px;
    font-size: 0.625rem;
    width: 50%;
    align-items: center;
    text-align: center;
    font-weight: 600;
}
.termos-privacidade-cadastro{
    text-decoration: none;
    color: var(--color-primary-5);
}
.area-login-cadastro{
    margin-top: 20px;
    font-size: 0.625rem;
    width: 50%;
    align-items: center;
    text-align: center;
    font-weight: 600;
}
.login-cadastro{
    text-decoration: none;
    color: var(--color-primary-5);
}
