*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-cadastro{
    align-items: center;
    width: 100%;
    height: 9.2rem;
    display: flex;
    background-color: #40513B;
}
.info-menu-cadastro{
    width: 100%;
    max-height: 9.2rem;
    display: flex;
    flex-direction: row;
}
.logo-menu-cadastro img{
    margin-left: 20px;
    margin-top: 10px;
    height: 7.884rem;
}
.nome-menu-cadastro{
    margin-left: 20px;
    margin-top: 50px;
    color: #FFFFFF;
    font-size: 2rem;
}