:root{ 
    --color-primary-1: #40513B;
    --color-primary-2: #557153;
    --color-primary-3: #4B914B;
    --color-primary-4: #798645;
    --color-primary-5: #609966;
    --color-primary-6: #729762;
    --color-primary-7: #EDF1D6;
    --color-primary-8: #E7F0DC;

    --color-detalhes-9: #2278F4;
    --color-botao-op-Cancelar: #DB2828; /*Op = Operação*/
    --color-botao-op-Pendente: #DBA928; /*Op = Operação*/
    --color-botao-op-Concluido: #2D8C37; /*Op = Operação*/
    --color-fonte: #20261E;
    --color-icones: #EDF3EB;
    --color-detalhes-15: #F7F9FF;
    --color-detalhes-16: #E7F0DC;
}