/* Começo css do componente do botão */
@import url("../cliente.css");
.cancel_logout_button {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-botao-op-Cancelar);
    color: var(--color-icones);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}