@import url("../cliente.css");

.generate_report_product_button {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    color: var(--color-icones);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.botao_verde_cliente {
    background-color: var(--color-botao-op-Concluido);  
}

.botao_vermelho_cliente {
    background-color: red;  
}

.logout-confirm {
    background-color: red;  
}

@media (max-width: 1024px){
    .generate_report_product_button{
        width: 190px;
    }
}