@import url("../cliente.css");
.lote-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    transition: transform 0.3s;
}
.lote-card:hover {
    transform: translateY(-5px);
}
.lote-card img {
    width: 100%;
    border-radius: 5px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 10px;
}
.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 10px;
    text-align: right;
}
.info-grid p {
    margin: 0;
    font-size: 0.9em;
}
.info-grid p:nth-child(odd) {
    font-weight: bold;
    text-align: left;
}
.preco {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 8px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #2a7f40;
}
.botao-pag-fav{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.stars-pag-fav{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 15px;
}