@import url("../cliente.css");
.card_cliente {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 550px;
    flex: 0 0 auto;
    scroll-snap-align: start;
}
.card_cliente:hover {
    transform: translateY(-5px);
}
.card_cliente img {
    width: 220px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
.card_info_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 10px;
    width: 100%;
    text-align: right;
}
.card_info_grid p {
    margin: 0;
    font-size: 1em;
    white-space: nowrap
}
.card_info_grid p:nth-child(odd) {
    font-weight: bold;
    text-align: left;
}
.card_preco {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 8px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #2a7f40;
}

/* Responsivo para 768px */
@media (max-width: 768px) {
    .card_cliente {
        max-width: 90%;
        height: 250px;
    }

    .card_cliente img {
        width: 180px;
        height: 140px;
    }

    .card_info_grid p {
        font-size: 0.75em;
    }

    .card_preco {
        font-size: 1.1rem;
    }
}

/* Responsivo para 425px */
@media (max-width: 425px) {
    .card_cliente {
        max-width: 95%;
        padding: 10px;
    }

    .card_cliente img {
        width: 160px;
        height: 120px;
    }
}

/* Responsivo para 365px */
@media (max-width: 365px) {
    .card_cliente {
        padding: 8px;
    }

    .card_cliente img {
        width: 140px;
        /* height: 100px; */
    }

    .card_info_grid p {
        font-size: 0.8em;
    }

    .card_preco {
        font-size: 1.1rem;
    }
}
