@import url("../cliente.css");

.container_historico_compras{
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 5px auto;
  width: 90%;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}
.title_historico_compras{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    color: var(--color-primary-1);
    
}
.arrow_compras{
    font-size: 1.5rem;
}
.titulo_historico_compras{
    font-size: 30px;
}
.area_historico_compras{
    margin: 4% 4%;
    margin-left: 7%;
    margin-right: 7%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.table_historico_compras {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--color-detalhes-16);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}

/* Primeira linha: Data do Pedido + Botão */
.row_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
  padding: 20px;
}

.row_header th {
  font-weight: 600;
  color: var(--color-primary-1);
  font-size: 1rem;
}

/* Segunda linha: 4 colunas */
.row_detalhes {
  display: flex;
  align-items: center;
  gap: 18%;            
  padding: 10px 20px;
}

.th_codigo_compras,
.th_historico_compras,
.th_data_compras 
{
  text-align: left;
  font-weight: 500;
  color: var(--color-primary-1);
  font-size: 0.95rem;
}

.status_historico_compras {
  margin-right: auto;  
  text-align: right;
  font-weight: 500;
  color: var(--warning-color);
  font-size: 0.95rem;
}

