.span-required {
  font-size: 0.8rem;
  color: red;
  display: none;
  top: 63%;
  position: absolute;
  margin-top: 5px;
}

.body-cadastro {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.area-form-cadastro {
  justify-content: center;
  width: 75%;
  height: auto;
  flex-direction: column;
  margin: 100px;
  align-items: center;
  padding: 60px 100px;
  display: flex;
  background-color: #DFEBE0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.titulo-form-cadastro {
  font-size: 2rem;
  margin-bottom: 2%;
  color: var(--color-primary-1);
  font-weight: 600;
}

.form-cadastro {
  width: 100%;
  display: flex;
  margin-top: 2%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.area-geral-form-cadastro {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-form-cadastro {
  width: 22.563rem;
  height: 2.938rem;
  padding: 7px;
  margin-bottom: 3%;
  border: 1px solid var(--color-primary-1);
  border-radius: 2px;
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 0 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  box-sizing: border-box;
}

.input-form-cadastro::placeholder {
  color: var(--color-primary-1);
  font-weight: 500;
  font-size: 0.8rem;
  opacity: 0.7;
}

.input-form-cadastro[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #FFFFFF;
  position: relative;
  font-weight: 500;
  font-size: 0.8rem;
  opacity: 0.7;
  text-transform: uppercase;
  color: var(--color-primary-1);
}

.btn-submit-cadastro {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  gap: 15px;
}

.input-submit-form-cadastro {
  margin-top: 10px;
  font-weight: 600;
  gap: 10px;
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-botao-op-Concluido);
  color: var(--color-icones);
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.area-termos-privacidade-cadastro {
  margin-top: 5%;
  font-size: 0.9rem;
  width: 50%;
  align-items: center;
  text-align: center;
  font-weight: 600;
}

.area-login-cadastro {
  width: 50%;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 0.9rem;
  margin-top: 20px;
}

.login-cadastro {
  text-decoration: none;
  color: var(--color-primary-5);
}

.main-cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.icon-voltar-cadastro {
  text-decoration: none;
  position: absolute;
  left: 20px;
  margin-top: 210px;
  margin-left: 150px;
  top: 5px;
  font-size: 1.7rem;
  color: var(--color-primary-1);
  cursor: pointer;
}

.form-colunas-cadastro {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.coluna-esquerda-cadastro,
.coluna-direita-cadastro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.form-coluna-inferior {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.form-coluna-superior {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-recaptcha {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .form-colunas-cadastro {
    width: 80%;
    margin-bottom: 25px;
  }

  .area-form-cadastro {
    flex-direction: column;
    height: auto;
    padding: 25px;
    margin: 10%;
    width: 90%;
  }

  .titulo-form-cadastro {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }

  .form-coluna-inferior {
    flex-direction: column;
  }

  .form-coluna-superior {
    transform: translateY(-10px);
  }

  .coluna-esquerda-cadastro,
  .coluna-direita-cadastro {
    max-width: 100%;
  }

  .input-form-cadastro {
    width: 100%;
    height: 40px;
  }

  .icon-voltar-cadastro {
    position: fixed;
    top: 20px;
    left: 20px;
    margin: 0;
    font-size: 1.3rem;
  }

  .area-termos-privacidade-cadastro,
  .area-login-cadastro {
    width: 100%;
    font-size: 0.8rem;
  }

  .input-submit-form-cadastro {
    width: 200px;
    padding: 8px;
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {

  .form-coluna-inferior,
  .form-coluna-superior {
    width: 100%;
  }

  .btn-submit-cadastro {
    flex-direction: column;
  }

  .g-recaptcha {
    width: 100%;
  }
}

@media (max-width: 365px) {
  .area-form-cadastro {
    width: 85%;
  }

  .form-colunas-cadastro {
    width: 90%;
  }

  .btn-submit-cadastro {
    flex-direction: column;
    gap: 15px;
  }

  .area-termos-privacidade-cadastro {
    margin-top: 20px;
  }

}