@import url("../cliente.css");

.container_pg_favoritos {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 90%;
  position: relative;
  margin-top: 35px;
  margin-bottom: 5%;
}

.lotes-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

.lotes_container_pg_favoritos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
}

.seta_titulo_pg_favoritos {
  display: flex;
  align-items: center;
  justify-content: left;
  color: var(--color-primary-1);
  padding-left: 5%;
  gap: 10px;
  margin-top:3%;
}
.h2_pg_favoritos {
  font-size: 2rem;
}
.btn_voltar_favoritos i {
  font-size: 30px;
}

/* Responsividade */
@media (max-width: 768px) {
  .container_pg_favoritos {
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 30px;
    width: 85%;
  }
  .lotes_container_pagina_de_busca {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 20px;
  }
  .seta_titulo_pg_favoritos{
    padding-left: 6%;
  }
}

@media (max-width: 360px) {
  .seta_titulo_pg_favoritos{
    padding-left: 15px;
    margin-top: 5%;
  }

  .h2_pg_favoritos, .btn_voltar_favoritos i {
    font-size: 1.5rem;
  }
}
