@import url("../cliente.css");
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none; 
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: center;
  max-width: 90%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.popup-content h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.popup-content p {
  margin: 15px 0;
  font-size: 1em;
}


.body_login .login_html {
  height: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container_geral_login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.login_box_vinycius {
  display: flex;
  flex-direction: row;
  background-color: #DFEBE0;
  border-radius: 3px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 1700px;
  width: 80%;
  height: 550px;
  overflow: hidden;
  padding: 40px;
}

.info_login_vinycius {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-img-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img_login {
  max-height: 330px;
  max-width: 100%;
  height: auto;
  width: auto;
}

.text_login_vinycius {
  margin-top: 15px;
  font-size: 1rem;
  color: var(--color-primary-1);
  font-weight: 400;
  padding: 10px;
  text-align: center;
}

.login_form_vinycius {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login_form_vinycius h2 {
  font-size: 2rem;
  margin-bottom: 100px;
  color: var(--color-primary-1);
  text-align: center;
}

.form_login {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_login_vinycius1 {
  width: 70%;
  max-width: 600px;
  height: 35px;
  padding: 0 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 1rem;
  color: #000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.input_login_vinycius2 {
  width: 100%;
  max-width: 600px;
  height: 35px;
  padding: 0 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 1rem;
  color: #000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.input_login_vinycius1::placeholder,
.input_login_vinycius2::placeholder {
  color: var(--color-primary-1);
  font-weight: 500;
  font-size: 0.8rem;
  opacity: 0.7;
}

.senha_container {
  position: relative;
  width: 70%;
  max-width: 600px;
  display: flex;
  align-items: center;
}

.toggle_senha {
  position: absolute;
  right: 15px;
  cursor: pointer;
  color: #333;
  font-size: 18px;
}

.btn-submit-login {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  gap: 15px;
}

.info-login {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.esqueci_senha_login {
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
  margin: 5px 0;
  color: var(--color-primary-5);
}

.texto1-span {
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
  text-align: center;
  margin: 8px 0;
}

.texto1-span a {
  color: var(--color-primary-5);
  text-decoration: none;
  margin-left: 5px;
}

.texto1-span a:hover,
.esqueci_senha_login:hover,
.login-adm:hover {
  text-decoration: underline;
}

.login-adm {
  color: var(--color-primary-5);
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 8px;
  text-decoration: none;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .container_geral_login {
    margin: 8% 0;
    padding: 0;
  }

  .login_box_vinycius {
    flex-direction: column;
    height: auto;
    padding: 25px;
    margin: 0 5%;
    width: 90%;
  }

  .info_login_vinycius,
  .login_form_vinycius {
    width: 100%;
    padding: 10px;
  }

  .form_login {
    width: 100%;
  }

  .img_login {
    max-width: 80%;
    margin-bottom: 10px;
  }

  .input_login_vinycius1,
  .input_login_vinycius2,
  .senha_container {
    width: 100%;
  }

  .text_login_vinycius {
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .login_form_vinycius h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .text_login_vinycius {
    font-size: 1rem;
    padding: 5px;
  }
}

