@import url("../cliente.css");

.div_principal{
    background-color: var(--color-primary-bg, #fff);
}
.texto-termos-e-condicoes{
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    margin-top: 2%;
    font-family: 'poppins', sans-serif;
    color: var(--color-primary-1);
}
.header-termos-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 10% 0;
}
.div-termos-titulo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.section-termos-e-condicoes{
    color: var(--color-fonte);
    text-align: justify;
}
.titulo-termos-e-condicoes{
    color: var(--color-primary-1);
    text-align: center;
    padding-top: 0;
}
.sub-titulo2-termos-e-condicoes{
    padding: 6px;
    color: var(--color-primary-1);
}
.sub-titulo-termos-e-condicoes{
    padding: 8px;
    color: var(--color-primary-1);
}
.li-termos-e-condicoes{
    margin: 20px;
}
.p-termos-e-condicoes{
    color: var(--color-fonte);
}
.setinha-termos-e-condicoes {
    color: var(--color-primary-1);
    font-size: 24px;
    display: flex;
    align-items: center;
    text-decoration: none ;
}
.setinha-termos-e-condicoes i {
    color: inherit;
}
@media (min-width: 360px) and (max-width: 391px) {
    .titulo-termos-e-condicoes{
        font-size: 22px;
    }
    .sub-titulo-termos-e-condicoes{
      padding-top: 20px;
      font-size: 18px;
    }
    .sub-titulo2-termos-e-condicoes{
      padding-top: 20px;
      font-size: 15px;
    }
    .texto-termos-e-condicoes {
      padding: 20px 6%;
      font-size: 15px;
    }
    .header-termos-container{
        justify-content: left;
        padding-left: 20px;
        gap: 5px;

    }
}