@import url("../adm.css");

#atualizar-produtos {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 50px 100px;
}

#page-title-atualizar-produtos {
  padding-bottom: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#title-atualizar-produtos {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}

.break-line {
    margin-top: 20px;
}

#title-atualizar-produtos h3 {
  margin: 0;
  padding: 0;
  color: var(--color-primary-1);
  font-size: 24px;
}

.bi-chevron-left {
  font-size: 25px;
  color: var(--color-primary-1);
  text-decoration: none;
}

#page-content-atualizar-produtos {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.first-container-atualizar-produtos {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

#search-bar-atualizar-produtos {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 0.5px solid var(--color-primary-1);
  padding: 5px 15px;
  gap: 10px;
  flex-grow: 1;
  max-width: 400px;
}

#search-bar-atualizar-produtos input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  width: 100%;
  color: var(--color-primary-1);
}

#search-bar-atualizar-produtos input::placeholder {
  color: var(--color-primary-1);
  font-weight: 500;
}

#search-bar-atualizar-produtos button {
  background: none;
  border: none;
  cursor: pointer;
}

#search-bar-atualizar-produtos button .fa-solid {
  color: var(--color-primary-1);
  font-size: 16px;
}

.botoes-catalogo-container {
    display: flex;
    gap: 50px;
}

.first-container-atualizar-produtos a {
  font-size: 14px;
  font-weight: 400;
  color: var(--warning-color);
  text-decoration: none;
}

#table2-atualizar-produtos {
  width: 100%;
  margin-top: 20px;
}

#table-space-atualizar-produtos {
  width: 100%;
  overflow-x: auto;
}

#table-space-atualizar-produtos table {
  width: 100%;
  border-collapse: collapse;
  /* min-width: 700px; */
  table-layout: fixed;
}

#table-space-atualizar-produtos th {
  background-color: #E5E7E5;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-primary-1);
  padding: 10px;
}

#table-space-atualizar-produtos td {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-primary-1);
  padding: 10px;
}

#table-space-atualizar-produtos tr {
  padding: 20px 10px;
}

.fa-pen-to-square {
  color: var(--color-primary-3);
  cursor: pointer;
  font-size: 16px;
}

.fa-trash {
  color: var(--warning-color);
  cursor: pointer;
  font-size: 16px;
}

.product-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-primary-1);
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.select-all-label-atualizar-produtos button {
    border: none;
    background-color: none;
    background: none;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
    color: var(--color-primary-1);
}

.product-checkbox:checked {
  background-color: var(--color-primary-3);
  border-color: var(--color-primary-3);
}

.product-checkbox:checked::after {
  content: "✓";
  position: absolute;
  color: white;
  font-size: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category-name-atualizar-produtos {
  background-color: #afdbaf;
  border-radius: 15px;
  padding: 5px 10px;
  display: inline-block;
}

.category-name-atualizar-produtos span {
  font-weight: 600;
  color: var(--color-primary-3);
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  #atualizar-produtos {
    padding: 30px;
  }

  #atualizar-produtos {
    padding: 30px 20px;
  }

  #title-atualizar-produtos {
    gap: 10px;
  }

  #title-atualizar-produtos h3 {
    font-size: 18px;
  }

  .first-container-atualizar-produtos {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  .botoes-catalogo-container {
    display: flex;
    gap: 50px;
    justify-content: center;
  }  

  #search-bar-atualizar-produtos {
    width: 100%;
    max-width: 100%;
  }

  #table-space-atualizar-produtos {
    overflow-x: auto;
  }

  #table-space-atualizar-produtos table {
    min-width: 700px;
  }

  #table-space-atualizar-produtos th,
  #table-space-atualizar-produtos td {
    font-size: 12px;
    padding: 8px;
  }

  .product-atualizar-produtos {
    flex-direction: column;
  }

  .product-atualizar-produtos img {
    width: 60%;
  }

  .select-all-label-atualizar-produtos button {
    font-size: 12px;
  }
}
