@import url("../adm.css");
#atualizar-produtos {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 50px 100px;
}
#page-title-atualizar-produtos {
    padding-bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#title-atualizar-produtos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25px
}
#title-atualizar-produtos{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 25px
}
#title-atualizar-produtos h3{
    margin: 0;
    padding: 0;
    display: inline-block;
    color: var(--color-primary-1);
    font-size: 24px;
}
.bi-chevron-left{
  display: inline-flex;
  text-decoration: none;
  font-size: 25px;
  color: var(--color-primary-1);
}

#page-content-atualizar-produtos{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#search-bar-atualizar-produtos {
    display: flex;
    align-items: center;
    background-color: none;
    border-radius: 50px;
    border: 0.5px solid var(--color-primary-1);
    padding: 5px 15px;
    gap: 10px;
    flex-grow: 1;
    max-width: 400px;
}
.first-container-atualizar-produtos{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}
.first-container-atualizar-produtos a{
    font-size: 14px;
    font-weight: 400;
    color: var(--warning-color);
}
#search-bar-atualizar-produtos input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    width: 100%;
    color: var(--color-primary-1);
}
#search-bar-atualizar-produtos input::placeholder {
    color: var(--color-primary-1);
    font-weight: 500;
    font-size: 14px;
}
#search-bar-atualizar-produtos button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
#search-bar-atualizar-produtos button .fa-solid {
    color: var(--color-primary-1);
    font-size: 16px;
}
#break-line{
    width: 100%;
    display: flex;
    height: 0.5px;
    background-color: var(--color-primary-1);
    margin: 25px 0px;
}





#table-space-atualizar-produtos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#table-space-atualizar-produtos table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
#table-space-atualizar-produtos table th {
    width: 100%;
    background-color: #E5E7E5;
}
#table-space-atualizar-produtos table .select-all-label-atualizar-produtos {
    width: 10%;
    border-radius: 10px 0px 0px 10px;
}
.header-exclude-atualizar-produtos { 
    border-radius: 0px 10px 10px 0px;
}
#table-space-atualizar-produtos table .select-all-label-atualizar-produtos {
    width: 10%;
}
#table-space-atualizar-produtos table td {
    width: 14.2857142857%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-primary-1);
}
#table-space-atualizar-produtos table td .fa-pen-to-square {
    color: var(--color-primary-3);
    cursor: pointer;
    font-size: 16px;
}
#table-space-atualizar-produtos table td .fa-trash {
    color: var(--warning-color);
    cursor: pointer;
    font-size: 16px;
}
#table-space-atualizar-produtos table th {
    width: 14.2857142857%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-primary-1);
}
.select-all-label-atualizar-produtos button {
    border: none;
    background-color: none;
    background: none;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
    color: var(--color-primary-1);
}
#table-space-atualizar-produtos th, #table-space-atualizar-produtos td {
    padding: 10px;
}
.product-atualizar-produtos {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 15px 0px;
}
.product-atualizar-produtos img {
    width: 50%;
    border-radius: 5px;

}
.product-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-primary-1);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  margin-right: 8px;
  position: relative;
  vertical-align: middle;
}
.product-checkbox:checked {
  background-color: var(--color-primary-3);
  border-color: var(--color-primary-3);
}
.product-checkbox:checked::after {
  content: "✓";
  position: absolute;
  color: white;
  font-size: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.category-name-atualizar-produtos {
    background-color: #afdbaf;
    margin: 0px 5px;
    border-radius: 15px;
    padding: 5px;
}
.category-name-atualizar-produtos span {
    font-weight: 600;
    color: var(--color-primary-3);
}