@import url("../adm.css");

.area_container{
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  margin-bottom: 5%;
  width: 90%;
  position: relative;
  margin-top: 35px;
}
  
.title_page_generate_report {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
}
.title_generate_report{
  margin: 0;
  padding: 0;
  display: inline-block;
  color: var(--color-primary-1);
}
.arrow_generate_report {
  display: inline-flex;
  text-decoration: none;
  font-size: 27px;
  color: var(--color-primary-1);
}
.generate_report_area {
  margin: 35px auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  justify-items: center;
  align-items: center;
}

.input_report_category,
.generate_report_start_date,
.generate_report_end_date {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%; 
  max-width: 250px; 
  color: var(--color-primary-1);
  
}
.report_category_select,
.generate_report_date {
  height: 40px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 10px; /* deixa arredondado */
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
  transition: all 0.2s ease;
  color: var(--color-primary-1);
}

.report_category_select:focus,
.generate_report_date:focus {
  border-color: var(--color-primary-1);
  box-shadow: 0 0 5px rgba(1, 192, 1, 0.495);
}

.generate_report_submit_button {
  margin-top: 5%;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
  

@media only screen and (max-width: 767px) {
    
  .generate_report_area {
    grid-template-columns: 1fr;
    gap: 15px;
  }
    
  .report_category_select, .generate_report_date {
    width: 100%;
    min-height: 40px;
    font-size: 1rem;
  }
    
  .generate_report_start_date,
  .generate_report_end_date {
    display: flex;
    flex-direction: column;
  }
    
  .generate_report_submit_button {
    margin-top: 25px;
  }
}
@media (max-width: 360px){
  .title_page_generate_report{
    font-size: 12px;

  }

}
  
  /* Tablet Styles (768px - 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
  .generate_report_area {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
    
  .input_report_category {
    grid-column: span 2;
  }
    
  .report_category_select, .generate_report_date {
    width: 80%;
    min-height: 40px;
  }
    
  .generate_report_submit_button {
    margin-top: 35px;
    grid-column: span 2;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    
  .generate_report_area {
    margin-top: 2rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
    
  .report_category_select, .generate_report_date {
    width: 80%;
  }
    
  .generate_report_submit_button {
    margin-top: 40px;
    grid-column: span 3;
  }
}
@media only screen and (min-width: 1200px) {
  .body_generate_report {
    max-width: 1800px;
    margin: 0 auto;
}
  .generate_report_product_button:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
    
  .arrow_generate_report:hover {
    opacity: 0.8;
  }
}
@media only screen and (min-width: 1600px) {
  .generate_report_product_button {
    padding: 10px 15px;
     font-size: 1.05rem;
  }
}