@import url("../adm.css");

.container_geral_login_adm {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}
.login_area {
  display: flex;
  flex-direction: row;
  background-color: #DFEBE0;
  border-radius: 3px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 1700px;
  width: 80%;
  height: 550px;
  overflow: hidden;
  padding: 40px;
}

.info_login_adm {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.img_login {
  max-height: 330px;
  max-width: 100%;
  height: auto;
  width: auto;
}

.text_login_adm {
  margin-top: 15px;
  font-size: 1rem;
  color: var(--color-primary-1);
  font-weight: 400;
  padding: 10px;
  text-align: center;
}

.login_form_adm {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login_form_adm h2 {
  font-size: 2rem;
  margin-bottom: 100px;
  color: var(--color-primary-1);
  text-align: center;
}

.form_login {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_login_adm1 {
  width: 70%;
  max-width: 600px;
  height: 35px;
  padding: 0 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 1rem;
  color: #000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.input_login_adm2 {
  width: 100%;
  max-width: 600px;
  height: 35px;
  padding: 0 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 1rem;
  color: #000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.input_login_adm1::placeholder,
.input_login_adm2::placeholder {
  color: var(--color-primary-1);
  font-weight: 500;
  font-size: 0.8rem;
  opacity: 0.7;
}

.button_adm {
  margin: 30px 0;
  gap: 10px;
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-botao-op-Concluido);
  color: var(--color-icones);
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.senha_container {
  position: relative;
  width: 70%;
  max-width: 600px;
  display: flex;
  align-items: center;
}

.toggle_senha {
  position: absolute;
  right: 15px;
  cursor: pointer;
  color: #333;
  font-size: 18px;
}

.btn-submit-login-adm {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  gap: 15px;
}

.info-login {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.esqueci_senha_login {
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
  margin: 5px 0;
  color: var(--color-primary-5);
}

.area-cliente {
  color: var(--color-primary-5);
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 8px;
  text-decoration: none;
}

.esqueci_senha_login:hover,
.area-cliente :hover {
  text-decoration: underline;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .container_geral_login_adm {
    margin: 8% 0;
    padding: 0;
  }

  .login_area {
    flex-direction: column;
    height: auto;
    padding: 25px;
    margin: 0 5%;
    width: 90%;
  }

  .login_form_adm h2 {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .info_login_adm,
  .login_form_adm {
    width: 100%;
    padding: 10px;
  }

  .form_login {
    width: 100%;
  }

  .img_login {
    max-width: 80%;
    margin-bottom: 10px;
  }

  .input_login_adm1,
  .input_login_adm2,
  .senha_container {
    width: 100%;
  }

  .text_login_adm {
    font-size: 16px;
    text-align: center;
  }

  .button_adm {
    font-size: 14px;
  }

  .btn-submit-login-adm{
    margin-top: 25px;
  }
}
@media (max-width: 768px) {
  .login_form_adm h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .text_login_adm {
    font-size: 1rem;
    padding: 5px;
  }
}