.popup_resultado {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.area_popup_resultado {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  max-width: 400px;
  width: 90%;
  position: relative;
  text-align: center;
}


/* Título de acordo com tipo */
.area_popup_resultado,.sucesso h1 { color: #2d8c37; } /* verde sucesso */
.area_popup_resultado,.erro h1 { color: #e63946; } /* vermelho erro */
.texto_pop_up { color: black; text-align: justify; } /* vermelho erro */

/* Botão de fechar (X) */
.fechar_popup_resultado {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
  cursor: pointer;
  background: transparent;
  border: none;
  transition: color 0.3s ease;
}

/* .fechar_popup_resultado:hover {
  color: #ff0000;
} */

/* Área dos botões */
.botoes_popup_resultado {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* Botão de sucesso (verde, mesmo tom do edit_product_button) */
.botoes_popup_resultado .botao_sucesso {
  background-color: #2d8c37;
  border: none;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botoes_popup_resultado .botao_sucesso:hover {
  background-color: #246a2b;
}

/* Botão de erro (vermelho) */
/* .botoes_popup_resultado .botao_erro {
  background-color: magenta;
  border: none;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botoes_popup_resultado .botao_erro:hover {
  background-color: #c61f1f;
} */
