@import url("../adm.css");

/* Conteúdo principal */
.verificar_administrar_pedidos_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 50px 100px;
  min-height:400px;
}

.verificar_administrar_pedidos_sessao_identificar {
  width: 100%;
}

/* Cabeçalho com seta + título */
.verificar_administrar_pedidos_sessao_seta_voltar_div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.verificar_administrar_pedidos_sessao_seta_voltar {
  font-size: 1.5rem;
  color: var(--color-primary-1);
}

.verificar_administrar_pedidos_sessao_bloco_info h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-primary-1);
}

/* Campo de pesquisa */
.verificar_administrar_pedidos_sessao_formulario_pesquisa {
  display: flex;
  align-items: center;
  background-color: none;
  border-radius: 50px;
  border: 0.5px solid var(--color-primary-1);
  padding: 4px 15px;
  gap: 10px;
  flex-grow: 1;
  max-width: 400px;
}

.verificar_administrar_pedidos_sessao_formulario_pesquisa input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  width: 100%;
  color: var(--color-primary-1);
}
.verificar_administrar_pedidos_sessao_formulario_pesquisa input::placeholder {
  color: var(--color-primary-1);
  font-weight: 500;
  font-size: 14px;
}

.verificar_administrar_pedidos_sessao_formulario_pesquisa button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.verificar_administrar_pedidos_sessao_formulario_pesquisa i{
  color: var(--color-primary-1);
  
}

/* Linha divisória */
.verificar_administrar_pedidos_sessao_divisao {
  width: 100%; 
  display: flex;
  background-color: var(--color-primary-1);
  margin: 25px auto;
}




/* Card de pedido */
.verificar_administrar_pedidos_sessao_pedidos{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.verificar_administrar_pedidos_sessao_pedidos table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.linha_cinza th{
  width: 100%;
  padding: 14px;
  background-color: #E5E7E5;
}

.verificar_administrar_pedidos_sessao_pedidos table{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-primary-1);
}
.verificar_administrar_pedidos_sessao_pedidos table td,.cell-atualizar-produto{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-primary-1);
}
.lupa-administar-pedidos i{
  color: var(--color-primary-3);
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 768px) {
  .verificar_administrar_pedidos_sessao_bloco
}
